body {
    margin: 0;
    background: #ececec;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
  
.board {
    background: #d48b61;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
 
.rows .row {
    display: none;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.row:not(.top-row) {
    border: rgba(0, 0, 0, 20%) 1px solid;
}

.top-row {
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
  
.guesses, .feedback {
    display: flex;
    gap: 8px;
}

.feedback {
    margin-left: 15px;
}
  
.peg {
    width: 28px;
    height: 28px;
    background: #5c3c1f;
    border: 3px solid black;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.peg.selected {
    border: 3px solid gold;
    box-shadow: 0 0 10px gold;
    transform: scale(1.05);
}

.guess {
    width: 28px;
    height: 28px;
    background: #5c3c1f;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: red;
}
  
.peg.small {
    width: 10px;
    height: 10px;
    border: 1.5px solid black;
    background: #75685c;
}
  
.feedback {
    flex-direction: row;
    flex-wrap: wrap;
    width: 72px;
    height: 28px;
    align-content: center;
}

button:last-of-type {
    position: absolute;
    top: 50px;
    display: none;
}

button {
    position: absolute;
    top: 20px;
}

